/* Table styles */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid lightgrey;
    text-align: left;
     padding: 10px;
}

tr:nth-child(even) {
    background-color: lightgrey;
}

/* Tooltip styles */
.content-tooltip {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}

.menu-head {
    font-weight: bold;
}

.menu-body {
    font-style: italic;
    font-size: 1em;
    color: crimson;
}

.tooltip-container {
    display: grid;
    grid-template-areas:
        "header header"
        "menu content"
        "footer footer";
    grid-template-columns: 1fr 3fr;
    gap: 3px;
    background-color: #0081ff;
    padding: 3px;
    width: 450px;
}

.tooltip-container > div {
    background-color: #00e7ff;
    padding: 10px;
}

.tooltip-container > div.header {
    grid-area: header;
    text-align: center;
}

.tooltip-container  > div.menu {
    grid-area: menu;
}

.tooltip-container  > div.content {
   grid-area: content;
   text-align: center;
}

.tooltip-container  > div.footer {
   grid-area: footer;
}

.tooltip_img {
   width: 200px;
   height: 200px;
}

.ui-widget.ui-widget-content {
    border: none;
    background: none;
    max-width: 800px;
    padding: 0;
}

.tooltip_trigger {
    cursor: pointer;
}

.tooltip_trigger:hover {
    color: #0000D1;
    font-weight: bold;
}