
/* Tooltip styles */
.tooltip {
    display: none;
    position: absolute;
    background-color: #003366;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 1em;
    opacity: 1;
    z-index: 1000;
}

.tooltip-word {
    display: inline-block;
    cursor: pointer;
    margin-right: 2px;
}