{% extends "layout.html" %}

{% block content %}
    <h1>Welcome to the Home Page</h1>
    <p>This is the home page of the Custom Plugin Tooltip Demo</p>
    <h1>Company Data</h1>
    <table id="dataTable">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Department Name</th>
                <th>Company Name</th>
            </tr>
        </thead>
        <tbody class="containment">
        </tbody>
    </table>
{% endblock %}
